* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

li {
	list-style: none;
	float: left;
}

a {
	color: #fff;
	text-decoration: none;
}
/* IE6兼容部分 CTM的IE */
* html,
* html body {
	background-image: url(about:blank);
	background-attachment: fixed
}
* html .ie6fixedTL {
	position: absolute;
	left: expression(eval(document.documentElement.scrollLeft));
	top: expression(eval(document.documentElement.scrollTop))
}
* html .ie6fixedBR {
	position: absolute;
	left: expression(eval(document.documentElement.scrollLeft+document.documentElement.clientWidth-this.offsetWidth)-(parseInt(this.currentStyle.marginLeft, 10)||0)-(parseInt(this.currentStyle.marginRight, 10)||0));
	top: expression(eval(document.documentElement.scrollTop+document.documentElement.clientHeight-this.offsetHeight-(parseInt(this.currentStyle.marginTop, 10)||0)-(parseInt(this.currentStyle.marginBottom, 10)||0)))
}

/*载入动画*/
.load-container {
	height: 100%;
	width: 100%;
	background-color: #201E20;
	z-index: 1000;
	position: fixed;
	
}

.load-bar {
	width: 100%;
	height: 12px;
	background-color: #7ACE7C;
	position: absolute;
	margin-top: 50px;
	box-shadow: 0px 0px 10px 2px rgba(255,255,255,0.5);
}

/*导航栏*/
/*菜单*/
.collapse {
	width: 100%;
	height: 100px;
	position: fixed;
	text-align: center;
	font-weight: bold;
	font-family: "simsun";
	border-top: 10px solid #7ACE7C;
	z-index: 100;
}

.center {
	width: 980px;
	height: 100%;
	margin: 0 auto;
}

.center .logobar {
	width: 30%;
	height: 100%;
	background-color: #7ACE7C;
	line-height: 100px;
	text-align: center;
	font-size: 36px;
	color: #fff;
	float: left;
}

.menubar {
	width: 70%;
	height: 100%;
	float: right;
	overflow: hidden;
}

.menubar ul {
	width: 600px;
	height: 50px;
	margin-top: 40px;
	float: right;
}

.menubar ul li {
	width: 120px;
	height: 100%;
	display: block;
	font-size: 18px;
	line-height: 50px;
	color: #fff;
	cursor: pointer;
	overflow: hidden;
}

.menu-active {
	background-color: #7ACE7C;
}

.menu {
	height: 100px;
	width: 100px;
	border-radius: 50%;
	margin-top: -25px;
	line-height: 100px;
}

/*第二种导航栏的样式*/
.collapse-small {
	width: 100%;
	height: 50px;
	background-color: #fff;
	position: fixed;
	font-family: "simsun";
	z-index: 100;
}

.collapse-small .logobar {
	line-height: 50px;
	background-color: #fff;
	text-align: left;
	font-size: 28px;
	color: #7ACE7C;
}

.collapse-small .menubar ul {
	margin-top: 0px;
}

.collapse-small .menubar ul li {
	width: 100px;
	color: #000;
	text-align: center;
}
/*轮播*/
.carousel {
	width: 100%;
	height: 600px;
	min-height: 600px;
	position: fixed;
}

.carousel-item {
	width: 100%;
	height: 100%;
	background-color: #777;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	position: absolute;
	opacity: 0;
}

.carousel-active {
	opacity: 1;
}

#item1 {
	background-image: url(../img/carousel-1.jpg);
}

#item2 {
	background-image: url(../img/carousel-2.jpg);
}

#item3 {
	background-image: url(../img/carousel-3.jpg);
}

.carousel-hover {
	width: 100%;
	height: 100%;
	min-height: 550px;
	text-align: center;
	z-index: 10;
}

.carousel-hover-img {
	background-image: url(../img/slideshow.png);
}

.carousel-hover-gradient {
	background-color: rgba(88, 88, 88, 0);
	background-image: linear-gradient(-45deg, transparent 60%, rgba(255, 255, 255, .2) 60%, rgba(255, 255, 255, .2) 80%, transparent 80%, rgba(255, 255, 255, .2) 100%, transparent 100%, transparent);
	background-image: -moz-linear-gradient(-45deg, transparent 60%, rgba(255, 255, 255, .2) 60%, rgba(255, 255, 255, .2) 80%, transparent 80%, rgba(255, 255, 255, .2) 100%, transparent 100%, transparent);
	background-image: -webkit-linear-gradient(-45deg, transparent 20%, rgba(255, 255, 255, .2) 20%, rgba(255, 255, 255, .2) 40%, transparent 40%, rgba(255, 255, 255, .2) 100%, transparent 100%, transparent);
	background-image: -ms-linear-gradient(-45deg, transparent 20%, rgba(255, 255, 255, .2) 20%, rgba(255, 255, 255, .2) 40%, transparent 40%, rgba(255, 255, 255, .2) 100%, transparent 100%, transparent);
	z-index: 11;
}

.carousel-caption {
	width: 980px;
	height: 100%;
	margin: 0 auto;
	padding-top: 300px;
	text-align: center;
	color: #fff;
}

.carousel-caption h1 {
	font-size: 46px;
	line-height: 80px;
}

.carousel-caption h3 {
	font-size: 26px;
	line-height: 80px;
}

.carousel .button {
	width: 140px;
	*width: 160px;
	height: 40px;
	border: 2px solid #fff;
	margin: 0 auto;
	font-size: 20px;
	line-height: 40px;
	cursor: pointer;
}

/*内容模块*/
.news {
	width: 100%;
	height: 550px;
	position: absolute;
	z-index: 20;
}
/*新闻*/
#newsArt-back {
	background-color: #999;
	background-image: url(../img/pattern.png);
}

#newsArt-front {
	width: 100%;
	height: 100%;
	float: left;
	background-color: #7ACE7C;
	background-image: url(../img/pattern.png);
}

.tit {
	width: 48%;
	font-size: 50px;
	line-height: 50px;
	color: #777;
	cursor: pointer;
}

#about {
	text-align: right;
	float: left;
	border-right: 3px solid #FF1572;
}

#tasks {
	text-align: left;
	float: right;
	border-left: 3px solid #FF1572;
}

#artContent {
	width: 70%;
	height: 550px;
	color: #fff;
	padding: 15px;
	*padding: 0px;
	font-family: "微软雅黑";
	font-size: 26px;
	text-indent: 2em;
	float: left;
	display: none;
}

/*图片*/
#newsPic {
	min-height: 900px;
	background-color: #777;
	background-image: url(../img/groovepaper.png);
	padding-top: 5%;
	padding-bottom: 2%;
	text-align: center;
}

.pic-row {
	width: 980px;
	height: 250px;
	max-width: 100%;
	min-width: 768px;
	margin: 0 auto;
}

#newsPic-tit {
	width: 980px;
	height: 220px;
	margin: 0 auto;
	font-size: 50px;
	line-height: 220px;
	color: #777;
}

.pic-each {
	width: 33.33333333%;
	*width: 326px;
	height: 100%;
	*height: 250px;
	margin-bottom: 30px;
	padding-left: 15px;
	padding-right: 15px;
	overflow: hidden;
	float: left;
}

.pic-each-hover {
	*width: 382px;
	*height: 214px;
	position: absolute;
	background-color: rgba(255,255,255,0.7);
	*background-color: #fff;
	text-align: center;
	opacity: 0;
	display: none;
	z-index: 2;
}

.hover-show {
	display: block;
	opacity: 1;
}

.pic-fullscreen {
	width: 40px;
	height: 40px;
	margin: auto;
	background-color: #7ACE7C;
	background-image: url(../img/fullscreen.png);
	cursor: pointer;
	z-index: 3;
}

.pic-each-angle {
	width: 0;
    height: 0;
    border-width: 50px 50px 0px 0px;
    border-style: solid dashed dashed dashed;
    border-color: #7ACE7C transparent transparent transparent;
    position: absolute;
    z-index: 1;
}

.pic-each img{
	*width: 382px;
	*height: 214px;
	display: block;
	position: absolute;
}

.pic-section {
	*width: 382px;
	*margin-top: 214px;
	*position: absolute;
	padding-top: 30px;
	*padding-top: 0px;
	font-size: 18px;
	font-style: italic;
	*line-height: 66px;
	color: #7ACE7C;
	text-align: center;
}

.pic-section-hover {
	color: #fff;
	background-color: #7ACE7C;	
}

/*首页全屏图片模块*/
.full-img-container {
	width: 100%;
	height: 100%;
	margin:0 auto;
	text-align: center;
	background-color: rgba(0,0,0,0.8);
	position: fixed;
	z-index: 500;
	display: none;
}

.img-wrap {
	position: relative;
	display: inline-block;
	margin: 200px auto;
	width: 600px;
	min-height: 273px;
	margin-bottom: 40px;
	cursor: ew-resize;
	overflow: hidden;
}
.img-before {
	position: absolute;
	top: 0;
	left: 0;
	margin-top: 6px;
	z-index: 1;
	width: 50%;
	overflow: hidden;
}
.img-after {
	position: absolute;
	top: 0;
	left: 0;
	margin-top: 6px;
	z-index: 0;
}
.divider-bar {
	position: absolute;
	width: 2px;
	left: 50%;
	top: -10px;
	bottom: -15px;
	background: white;
	height: 100%;
	display: block;
	z-index: 2;
	box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.4);
}

/*footer*/
#footer {
	width: 100%;
	height: 150px;
	text-align: center;
	font-family: "eras bold itc";
	font-size: 36px;
	color: #BE2260;
	padding-top: 40px;
	background-color: #777;
	background-image: url(../img/pattern.png);
}

/*内容页面*/
.pageTit {
	width: 100%;
	height: 350px;
	background: #7ACE7C;
	background: url(../img/carousel-2.jpg) no-repeat;
	background-size: 100%;
	overflow: hidden;
}

/*面包屑导航*/
.breadcrumb {
	width: 100%;
	height: 40px;
	background-color: #D5D5D5;
	color: #fff;
}

.breadcrumb ul {
	width: 100%;
	height: 40px;
	float: left;
	line-height: 40px;
}

.breadcrumb a {
	text-decoration: underline;
}
/*内容模块*/
.detail-content {
	width: 100%;
	height: 700px;
	background: url(../img/groovepaper.png);
	padding-top: 30px;
}
/*左侧菜单*/
.menu-left {
	height: 100%;
	width: 30%;
	float: left;
	background-color: rgba(213,213,213,0.5);
}

.menu-this {
	width: 100%;
	height: 60px;
	background-color: #FFB2B2;
	color: #fff;
	text-align: center;
	font-size: 26px;
	line-height: 60px;
}

.menu-left ul {
	clear: both;
	float: none;
}

.menu-left ul li {
	width: 100%;
	height: 50px;
	font-size: 22px;
	line-height: 50px;
	text-align: center;
}

.detail-article {
	width: 70%;
	height: 100%;
	float: right;
	font-size: 18px;
	padding: 20px;
	text-indent: 2em;
}
