/*导航栏*/

* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}
/* IE6兼容部分 CTM的IE */
* html,
* html body {
	background-image: url(about:blank);
	background-attachment: fixed
}
* html .ie6fixedTL {
	position: absolute;
	left: expression(eval(document.documentElement.scrollLeft));
	top: expression(eval(document.documentElement.scrollTop))
}
* html .ie6fixedBR {
	position: absolute;
	left: expression(eval(document.documentElement.scrollLeft+document.documentElement.clientWidth-this.offsetWidth)-(parseInt(this.currentStyle.marginLeft, 10)||0)-(parseInt(this.currentStyle.marginRight, 10)||0));
	top: expression(eval(document.documentElement.scrollTop+document.documentElement.clientHeight-this.offsetHeight-(parseInt(this.currentStyle.marginTop, 10)||0)-(parseInt(this.currentStyle.marginBottom, 10)||0)))
}

a {
	color: #fff;
	text-decoration: none;
}

/*菜单*/
.collapse {
	width: 100%;
	height: 60px;
	max-height: 60px;
	background-color: #7ACE7C;
	background-image: linear-gradient(-45deg, transparent 65%, #FFFFFF 65%, #FFFFFF 100%, transparent 100%, transparent);
	background-image: -moz-linear-gradient(-45deg, transparent 65%, #FFFFFF 65%, #FFFFFF 100%, transparent 100%, transparent);
	background-image: -ms-linear-gradient(-45deg, transparent 0%, #FFFFFF 0%, #FFFFFF 35%, transparent 35%, transparent);
	background-image: -webkit-linear-gradient(-45deg, transparent 0%, #FFFFFF 0%, #FFFFFF 35%, transparent 35%, transparent);
	position: fixed;
	text-align: center;
	box-shadow: 0px 1px 5px #5A5A5A;
	z-index: 100;
}

.collapse-center{
	width: 980px;
	height: 100%;
	margin: 0 auto;
}

.collapse-center .logobar {
	width: 30%;
	height: 100%;
	line-height: 60px;
	text-align: left;
	font-size: 30px;
	color: #7ACE7C;
	float: left;
	*background-color: #fff;
}

.collapse .menubar {
	width: 70%;
	height: 100%;
	float: right;
	overflow: hidden;
}

.collapse .menubar ul {
	width: 100%;
	float: left;
}

.menu {
	width: 20%;
	height: 100%;
	display: block;
	font-size: 22px;
	color: #fff;
	line-height: 60px;
	list-style: none;
	float: left;
	cursor: pointer;
}

.menu-active {
	background-color: #fff;
	color: #7ACE7C;
}

/*轮播*/
.carousel {
	width: 100%;
	height: 600px;
	min-height: 600px;
	margin-top: 60px;
	position: fixed;
}

.carousel-item {
	width: 100%;
	height: 100%;
	background-color: #777;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	display: none;
	opacity: 0;
}

.carousel-active {
	display: block;
	opacity: 1;
}

#item1 {
	background-image: url(../img/carousel-1.jpg);
}

#item2 {
	background-image: url(../img/carousel-2.jpg);
}

#item3 {
	background-image: url(../img/carousel-3.jpg);
}

.carousel-hover {
	width: 100%;
	height: 100%;
	min-height: 550px;
	background-color: rgba(88, 88, 88, 0);
	background-image: linear-gradient(-45deg, transparent 60%, rgba(255, 255, 255, .2) 60%, rgba(255, 255, 255, .2) 80%, transparent 80%, rgba(255, 255, 255, .2) 100%, transparent 100%, transparent);
	background-image: -moz-linear-gradient(-45deg, transparent 60%, rgba(255, 255, 255, .2) 60%, rgba(255, 255, 255, .2) 80%, transparent 80%, rgba(255, 255, 255, .2) 100%, transparent 100%, transparent);
	background-image: -webkit-linear-gradient(-45deg, transparent 20%, rgba(255, 255, 255, .2) 20%, rgba(255, 255, 255, .2) 40%, transparent 40%, rgba(255, 255, 255, .2) 100%, transparent 100%, transparent);
	background-image: -ms-linear-gradient(-45deg, transparent 20%, rgba(255, 255, 255, .2) 20%, rgba(255, 255, 255, .2) 40%, transparent 40%, rgba(255, 255, 255, .2) 100%, transparent 100%, transparent);
	text-align: center;
	z-index: 10;
}

.carousel-caption {
	width: 980px;
	height: 100%;
	margin: 0 auto;
	padding-top: 500px;
	text-align: center;
	color: #fff;
}

.carousel-caption h1 {
	font-size: 46px;
	line-height: 80px;
}

.carousel-caption h3 {
	font-size: 26px;
	line-height: 80px;
}

.carousel .button {
	width: 140px;
	*width: 160px;
	height: 40px;
	border: 2px solid #fff;
	margin: 0 auto;
	font-size: 20px;
	line-height: 40px;
	cursor: pointer;
}

/*内容模块*/
.news {
	width: 100%;
	height: 550px;
	position: absolute;
	z-index: 20;
}
/*新闻*/
#newsArt-back {
	background-color: #999;
	background-image: url(../img/pattern.png);
}

#newsArt-front {
	width: 100%;
	height: 100%;
	float: left;
	background-color: #7ACE7C;
	background-image: url(../img/pattern.png);
}

.tit {
	width: 48%;
	font-size: 50px;
	line-height: 50px;
	color: #777;
	cursor: pointer;
}

#about {
	text-align: right;
	float: left;
	border-right: 3px solid #FF1572;
}

#tasks {
	text-align: left;
	float: right;
	border-left: 3px solid #FF1572;
}

#artContent {
	width: 70%;
	height: 550px;
	color: #fff;
	padding: 15px;
	*padding: 0px;
	font-family: "微软雅黑";
	font-size: 26px;
	text-indent: 2em;
	float: left;
	display: none;
}

/*图片*/
#newsPic {
	min-height: 900px;
	background-color: #777;
	background-image: url(../img/groovepaper.png);
	padding-top: 5%;
	padding-bottom: 2%;
	text-align: center;
}

.pic-row {
	width: 980px;
	height: 250px;
	max-width: 100%;
	min-width: 768px;
	margin: 0 auto;
}

#newsPic-tit {
	width: 980px;
	height: 220px;
	margin: 0 auto;
	font-size: 50px;
	line-height: 220px;
	color: #777;
}

.pic-each {
	width: 33.33333333%;
	*width: 326px;
	height: 100%;
	*height: 250px;
	margin-bottom: 30px;
	padding-left: 15px;
	padding-right: 15px;
	overflow: hidden;
	float: left;
}

.pic-each-hover {
	*width: 382px;
	*height: 214px;
	position: absolute;
	background-color: rgba(255,255,255,0.7);
	*background-color: #fff;
	text-align: center;
	opacity: 0;
	display: none;
	z-index: 2;
}

.hover-show {
	display: block;
	opacity: 1;
}

.pic-fullscreen {
	width: 40px;
	height: 40px;
	margin: auto;
	background-color: #7ACE7C;
	background-image: url(../img/fullscreen.png);
	cursor: pointer;
	z-index: 3;
}

.pic-each-angle {
	width: 0;
    height: 0;
    border-width: 50px 50px 0px 0px;
    border-style: solid dashed dashed dashed;
    border-color: #7ACE7C transparent transparent transparent;
    position: absolute;
    z-index: 1;
}

.pic-each img{
	*width: 382px;
	*height: 214px;
	display: block;
	position: absolute;
}

.pic-section {
	*width: 382px;
	*margin-top: 214px;
	*position: absolute;
	padding-top: 30px;
	*padding-top: 0px;
	font-size: 18px;
	font-style: italic;
	*line-height: 66px;
	color: #7ACE7C;
	text-align: center;
}

.pic-section-hover {
	color: #fff;
	background-color: #7ACE7C;	
}

/*footer*/
#footer {
	width: 100%;
	height: 150px;
	text-align: center;
	font-family: "eras bold itc";
	font-size: 36px;
	color: #BE2260;
	padding-top: 40px;
	background-color: #777;
	background-image: url(../img/pattern.png);
}
